@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Regular.woff2);
}
@font-face {
    font-family: Gilroy-Light;
    src: url(Gilroy-Light.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    height:100%;
    width:100%;
}
#nav1{
height:10vh;
width:100%;
padding: 1.5vw 3vw 1vw 3vw;
/* background-color: brown; */
display: flex;
justify-content: space-between;
}
#nav1 h5{
    display: none;
}
#nav1-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
}
#nav1-right span{
    margin-left: 1vw;
    color: rgb(77, 76, 75);
}
#nav1-right h4{
    font-size: 1.7vh;
    font-weight: 600;
}
#nav1-right h4:hover{
    cursor: pointer;
    border-bottom: 2px solid orangered;
}
#nav1-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.2vw;
}
#blackcircle1,#blackcircle2{
    height:20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}
#nav2{
    height:10vh;
    width:100%;
    padding: 1vw 3vw 2vw 3vw;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap:3.5vw;
}
#nav2 h3{
    font-size: 1.8vh;
    font-weight: 600;
    text-transform:uppercase;
}
#nav2 h3:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0);
}
#content{
    height:80vh;
    width:100%;
}
#text-content{
    height:40%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding:5vh 10vw 4vh 10vh ;
    gap: 35vw;
    overflow-x: auto;
    /* background-color:aquamarine; */
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height:1vh;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width:fit-content;
    /* background-color: brown; */
}
.elem:hover{
    cursor: pointer;
}
.elem h1{
    margin-left: 1.8vw;
    font-family: Gilroy-Light;
    font-size: 9vw;
    font-weight: 100;
}
#text-superscript{
    display: flex;
    gap:3vw;
}
#image-content{
    height: 60%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#image-content img:hover{
    cursor: pointer;
}
#image-content::-webkit-scrollbar{
    display: none;
}
#image-content img{
    height:100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}
@media (max-width:600px){
    #nav1{
        height:8vh;
        width:100%;
        padding: 1.5vw 3vw 1vw 3vw;
        /* background-color: brown; */
        display: flex;
        justify-content: space-between;
        }
        #nav1-right{
            justify-content: center;
            align-items: center;
            gap:3vw;
        }
        #nav1 h5{
            display: initial;
            cursor: pointer;
        }
        #nav1-right span{
            margin-left: 1vw;
            color: rgb(77, 76, 75);
        }
        #nav1-right :nth-child(1){
            display: initial;
        }

        #nav1-right h4{
            display: none;
            font-size: 1.7vh;
            font-weight: 600;
        }
        #nav1-right h4:hover{
            cursor: pointer;
            border-bottom: 2px solid orangered;
        }
        #nav1-left{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:0.2vw;
        }
        #blackcircle1,#blackcircle2{
            height:20px;
            width: 20px;
            border-radius: 50%;
            background-color: black;
        }
        #nav2{
            height:8vh;
            width:100%;
        
            /* background-color: aquamarine; */
            display: flex;
            align-items: center;
            justify-content: center;
            gap:1.5vw;
        }
        #nav2 h3{
            font-size: 1.4vh;
            font-weight: 600;
            text-transform:uppercase;
        }
        #nav2 h3:hover{
            cursor: pointer;
            border-bottom: 2px solid rgb(0, 0, 0);
        }
        #content{
            height:84vh;
            width:100%;
        }
        #text-content{
            height:40%;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            padding:5vh 10vw 4vh 5vh ;
            gap: 40vw;
            overflow-x: auto;
            /* background-color:aquamarine; */
        }
        #text-content::-webkit-scrollbar{
            background-color: transparent;
            height:1vh;
        }
        #text-content::-webkit-scrollbar-thumb{
            background-color: orangered;
        }
        .elem{
            flex-shrink: 0;
            height: 100%;
            width:fit-content;
            /* background-color: brown; */
        }
        .elem h1{
            margin-left: 2vw;
            font-family: Gilroy-Light;
            font-size: 18vw;
            font-weight: 100;
        }
        #text-superscript{
            display: flex;
            gap:3vw;
        }
        #image-content{
            height: 60%;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
        #image-content::-webkit-scrollbar{
            display: none;
        }
        #image-content img{
            height:100%;
            width: 100%;
            object-fit: cover;
            flex-shrink: 0;
        }
}